/* Start General */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.container {
  position: relative;
  width: 67%;
  margin: auto;
  /* height: 100vh; */
}

hr {
  border-top: 1px solid rgb(122, 121, 121);
}

/* End General */

/* Start Header */
header {
  display: flex;
  position: relative;
}

header .logo {
  margin-top: 130px;
  padding-right: 16px;
}
.header__dotImg {
  width: 70%;
}
/* Start Collapsible Menu       
*/
.menu {
  right: 0;
  margin: auto;
}

.menu--icon {
  color: black;
  font-size: 24px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.menu__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  background-color: #201e20;
  z-index: 1000;
}

.person-img {
  width: 140px;
  height: 140px;
  border-radius: 113px;
  background-color: #ffffff;
  margin: auto;
  margin-top: 128px;
  display: block;
}

.Personimg {
  position: relative;
}

.Personimg .shape2 {
  width: 72px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 44%;
}

.download-container {
  position: absolute;
  top: 26px;
  right: 33%;
  display: flex;
  width: 13%;
}

.download-icon {
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 19px;
  background-color: #d82547;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  margin-right: 5px;
}

.PersonResum {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 12px;
  color: #ffffff;
  font-weight: 700;
}

.menu__person-info .PersonName {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 37px;
  color: #aeadae;
  text-align: center;
  font-weight: 400;
}

.menu p {
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #aeadae;
  width: 50%;
  text-align: center;
  padding-bottom: 20px;
  margin: auto;
}

.PersonSkills {
  display: flex;
  justify-content: center;
}

.Skill {
  width: 33%;
  margin: 0px 94px;
}
.Skill .percentage {
  width: 10%;
}

.Skill .Skill__name {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 700;
  padding-bottom: 10px;
}

.ProgressLine {
  display: flex;
}
.rectp1 {
  width: 200px;
  height: 5px;
  border-radius: 2px;
  background-color: #c62fc6;
}

.rectp2 {
  width: 40px;
  height: 5px;
  border-radius: 2px;
  background-color: #000000;
}

.recti1 {
  width: 200px;
  height: 5px;
  border-radius: 2px;
  background-color: #f2d25d;
}

.recti2 {
  width: 80px;
  height: 5px;
  border-radius: 2px;
  background-color: #000000;
}

.recth1 {
  width: 200px;
  height: 5px;
  border-radius: 2px;
  background-color: #2959e1;
}

.recth2 {
  width: 40px;
  height: 5px;
  border-radius: 2px;
  background-color: #000000;
}
.PersonExperience {
  display: flex;
  justify-content: center;
}

.PersonExperience .Experience__Details {
  border: 1px solid rgba(96, 93, 93, 0.29);
  width: 50%;
}

.Experience__Details .Experience__year {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 800;
  text-align: center;
  padding-top: 10px;
}

.Experience__Details p {
  letter-spacing: 1px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

.Experience__Details .vertical-line {
  border: 1px solid rgb(209, 203, 203, 0.29);
  margin: 5px;
  border-bottom: none;
  border-right: none;
  border-top: none;
}

.menu__content .menu__dotImg {
  width: 43%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.549;
}

.menu__content .menu__shape1 {
  width: 21px;
  height: 44px;
  margin: 100px 400px;
  position: absolute;
}

.menu__content .menu__shape4 {
  width: 43px;
  height: 35px;
  position: absolute;
  right: 350px;
  top: 100px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .menu--icon + .menu__content {
  display: block;
  max-height: 100%;
}

.menu__content .close-button {
  position: absolute;
  right: 20%;
  margin-top: 112px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* End Collapsible Menu */

/* End Header */

/* Start Banner Section */

.Banner {
  z-index: 1;
  top: -35px;
  width: 100%;
}
.Banner__contecnt {
  position: relative;
}
.Banner__contecnt .Banner_shape1 {
  position: absolute;
  right: 200px;
  top: 20px;
}
.hello {
  font-size: 195px;
  letter-spacing: 6px;
  line-height: 130px;
  color: rgb(64, 61, 64);
  font-weight: 600;
  padding-bottom: 36px;
}

.Banner__pargraph {
  width: 617px;
  height: 102px;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 27px;
  color: #aeadae;
  font-weight: 400;
}

/* End Banner  */
.Work {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.Work .WorkLink {
  width: 450px;
  height: 400px;
}
.WorkLink .Work__img {
  width: 450px;
  height: 450px;
}

.Work__box1 {
  background-color: #baecee;
}

.Work__box2 {
  background-color: #fae1ef;
  position: relative;
}

.Work__box2 .Work__shape2 {
  position: absolute;
}

.Work__box3 {
  background-color: #fffce6;
  position: relative;
}

.Work__box3 .Work_shape4 {
  position: absolute;
  top: 0;
  left: -100px;
}

.button-corner {
  position: absolute;
  bottom: 10%;
  left: 20px;
}

.button {
  background-color: transparent;
  color: rgb(6, 6, 6);
  padding: 8px 15px;
  border: none;
  text-decoration: none;
  border: 1px solid black;
}

.Work__box4 {
  background-color: #e9bef6;
  position: relative;
}

.Work__box4 .Work_shape3 {
  position: absolute;
  top: 221px;
  right: -100px;
}

/* Start Footer */
.Footer {
  background-color: #f2fbfb;
  margin-top: -80px;
}

.Footer .Footer__content {
  margin-top: 96px;
  text-align: center;
}

.Footer__loading {
  font-size: 20px;
  letter-spacing: 20px;
  line-height: 40px;
  color: #403d40;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding: 16px;
}

.footer-img {
  margin-bottom: 32px;
  width: 48px;
}

.Footer_numbers {
  font-size: 45px;
  letter-spacing: 2px;
  line-height: 40px;
  color: #403d40;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
}

.Footer-paragraph {
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #aeadae;
  font-weight: 300;
  width: 50%;
  text-align: center;
  padding: 32px;
  margin: auto;
}

.link {
  color: aquamarine;
}

.Footer_social {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.Footer_social .Footer__SocialName {
  font-size: 13px;
  letter-spacing: 7px;
  line-height: 40px;
  text-transform: uppercase;
  color: #403d40;
  font-weight: 600;
  width: 20%;
}

/* Media query */
/* Media query for small screens (e.g., mobile devices) */

@media (min-width: 320px) and (max-width: 480px) {
  .logo img {
    width: 150px;
    margin-bottom: 50px;
  }

  .Banner__contecnt .hello {
    font-size: 70px;
  }

  .Banner .Banner__pargraph {
    width: 220%;
    font-size: 13px;
    padding: 0;
  }

  .Banner .Banner_shape1 {
    width: 20px;
    height: 42px;
    right: -60px;
  }
  .Work__box2 .Work__shape2 {
    top: 25%;
    right: 1px;
    width: 30%;
  }

  .Work__shape2 {
    top: 35%;
    left: 400px;
    width: 100px;
  }

  .Footer {
    width: 189%;
  }
  .Footer__loading {
    font-size: 16px;
  }

  .Footer__content .Footer_numbers {
    font-size: 20px;
  }

  .Footer-paragraph {
    width: 100%;
  }

  .Footer_social .Footer__SocialName {
    padding: 0.8px;
    font-size: 8px;
    width: 80%;
  }

  .menu {
    margin: 80px;
  }
  .menu .menu__dotImg {
    width: 50%;
    top: 40px;
  }

  .menu .menu__shape4 {
    width: 30px;
    height: 20px;
    right: 22%;
    top: 6%;
  }

  .menu__person-info .person-img {
    margin-top: 90px;
    width: 100px;
    height: 100px;
  }

  .menu .shape2 {
    width: 30px;
    height: 20px;
  }

  .menu .menu__shape1 {
    width: 16px;
    margin-top: 40px;
    margin-left: 200px;
  }

  .menu__person-info .download-container {
    top: 10px;
  }

  .download-container .download-icon {
    padding: 2px 0px;
    font-size: 11px;
    height: 17px;
  }

  .download-container .PersonResum {
    font-size: 10px;
  }

  .menu__person-info .PersonName {
    padding-top: 7px;
    font-size: 18px;
    padding-bottom: 5px;
  }

  .menu__person-info .PersonBrief {
    width: 90%;
    font-size: 11px;
  }

  .Skill {
    width: 20%;
    margin: 0px 30px;
  }
  .PersonSkills {
    padding: 0px;
  }
  .PersonSkills .Skill p {
    font-size: 10px;
  }
  .PersonExperience .Experience__Details .Experience__year {
    font-size: 10px;
  }
  .PersonExperience .Experience__Details p {
    font-size: 8px;
    width: 100%;
    padding-left: 3px;
  }

  .menu .menu__content {
    height: 53%;
  }

  .close-button {
    right: 5%;
  }

  .menu-checkbox {
    display: none;
  }

  .button-corner {
    position: absolute;
    bottom: 10%;
    left: 2px;
  }

  .button-corner .button {
    background-color: transparent;
    color: rgb(6, 6, 6);
    padding: 8px 15px;
    border: none;
    text-decoration: none;
    border: 1px solid black;
    font-size: 10px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  header .logo {
    margin-top: 28px;
  }

  .menu__content {
    height: 100%;
  }

  .person-img {
    width: 100px;
    height: 100px;
    margin-top: 60px;
  }
  .menu__person-info .PersonName {
    width: 100%;
    margin: 8px;
  }
  .menu__person-info .PersonBrief {
    width: 80%;
  }

  .menu .menu__shape1 {
    margin: 70px 210px;
    width: 15px;
    height: 33px;
  }

  .menu__content .menu__shape4 {
    width: 30px;
    height: 25px;
    right: 25%;
  }

  .menu__content .shape2 {
    width: 30px;
    height: 20px;
  }

  .download-container {
    right: 32%;
  }

  .download-icon {
    font-size: 16px;
    padding-top: 1px;
    height: 20px;
  }

  .PersonResum {
    font-size: 10px;
  }

  .PersonName {
    font-size: 26px;
    padding: 5px;
  }

  .Skill {
    margin: 10px 0px;
    width: 35%;
  }

  .ProgressLine {
    width: 60%;
    margin: auto;
  }

  .Experience__Details .Experience__year {
    font-size: 15px;
  }

  .Experience__Details p {
    font-size: 10px;
    padding: 6px;
    width: 100%;
  }

  .hello {
    font-size: 100px;
    margin-top: -60px;
  }

  .Banner__pargraph {
    width: 90%;
    font-size: 12px;
  }
  .Work__box2 .Work__shape2 {
    margin-top: 350px;
    right: 20px;
  }
  .Work__box4 .Work_shape3 {
    margin-right: 35px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 70%;
  }
  .menu .menu__dotImg {
    width: 45%;
    top: 10%;
    left: 50%;
  }
  .menu__content {
    height: 100%;
  }
  .person-img {
    width: 110px;
    height: 110px;
    margin-top: 60px;
  }
  .menu__person-info .shape2 {
    width: 30px;
    height: 30px;
  }
  .download-container {
    right: 31%;
  }
  .download-icon {
    font-size: 18px;
    height: 22px;
  }
  .PersonResum {
    font-size: 10px;
  }
  .menu__person-info .PersonBrief {
    width: 80%;
  }
  .PersonName {
    padding-top: 16px;
    font-size: 28px;
  }
  .Skill {
    margin: 0px 0px;
    width: 30%;
  }
  .ProgressLine {
    width: 80%;
    margin: auto;
  }
  .Experience__Details {
    border-bottom: none;
  }
  .Experience__Details .Experience__year {
    font-size: 15px;
  }
  .Experience__Details p {
    width: 100%;
    font-size: 10px;
  }
  .hello {
    font-size: 120px;
  }
  .menu .menu__shape1 {
    margin: 70px 290px;
    width: 21px;
    height: 44px;
  }
  .Banner__pargraph {
    width: 617px;
    height: 102px;
    font-size: 13px;
  }
  .Banner .Banner_shape1 {
    right: 20px;
  }
}
/*
@media (min-width: 1000px) {
  .container {
    width: 70%;
  }

  .BannerWork .WorkLink {
    width: 50%;
    height: 550px;
  }

  .BannerWork .WorkLink .Work__img {
    width: 100%;
    height: 80%;
  }

  .menu__content .menu__dotImg {
    width: 35%;
  }

  .menu__content {
    height: 100%;
  }

  .menu__content .download-container {
    right: 34%;
  }

  .download-icon {
    padding-top: 4px;
  }

  .download-container .PersonResum {
    font-size: 14px;
  }

  .PersonSkills {
    width: 100%;
    margin-top: 0px;
  }

  .menu__shape1,
  .shape2 {
    width: 10%;
  }

  .PersonExperience .Experience__Details p {
    width: 100%;
    padding: 0px;
  }
} */
