/* Start General */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.container {
  position: relative;
  width: 67%;
  margin: auto;
  /* height: 100vh; */
}

hr {
  border-top: 1px solid rgb(122, 121, 121);
}

/* End General */

/* Start Header */
header {
  padding-bottom: 5rem;
  display: flex;
  position: relative;
}

header .logo {
  margin-top: 7rem;
  padding-right: 2rem;
}
.header__dotImg {
  width: 70%;
}
/* Start Collapsible Menu       
*/
.menu {
  position: absolute;
  right: 0;
  height: 90%;
}

.menu--icon {
  color: black;
  font-size: 1.5rem;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.menu__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  background-color: #201e20;
  z-index: 1000;
}

.person-img {
  width: 180px;
  height: 180px;
  border-radius: 113px;
  background-color: #ffffff;
  margin: auto;
  margin-top: 8rem;
  display: block;
}

.Personimg {
  position: relative;
}

.Personimg .shape2 {
  width: 72px;
  height: 40px;
  position: absolute;
  left: 43%;
  top: 50%;
}

.download-container {
  position: absolute;
  top: 1rem;
  right: 37%;
  display: flex;
  width: 13%;
}

.download-icon {
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 19px;
  background-color: #d82547;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  margin-right: 5px;
}

.PersonResum {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 12px;
  color: #ffffff;
  font-weight: 700;
}

.menu__person-info .PersonName {
  font-size: 43px;
  letter-spacing: 1px;
  line-height: 37px;
  color: #aeadae;
  text-align: center;
  font-weight: 400;
}

.menu p {
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 22px;
  color: #aeadae;
  width: 50%;
  text-align: center;
  padding-bottom: 2rem;
  margin: auto;
}

.PersonSkills {
  display: flex;
  justify-content: center;
}

.Skill {
  margin: 0rem 4rem;
}
.Skill .percentage {
  width: 50%;
}

.Skill .Skill__name {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 700;
  padding-bottom: 1rem;
}

.ProgressLine {
  display: flex;
}
.rectp1 {
  width: 297px;
  height: 5px;
  border-radius: 2px;
  background-color: #c62fc6;
}

.rectp2 {
  width: 40px;
  height: 5px;
  border-radius: 2px;
  background-color: #000000;
}

.recti1 {
  width: 297px;
  height: 5px;
  border-radius: 2px;
  background-color: #f2d25d;
}

.recti2 {
  width: 90px;
  height: 5px;
  border-radius: 2px;
  background-color: #000000;
}

.recth1 {
  width: 297px;
  height: 5px;
  border-radius: 2px;
  background-color: #2959e1;
}

.recth2 {
  width: 110px;
  height: 5px;
  border-radius: 2px;
  background-color: #000000;
}
.PersonExperience {
  display: flex;
  justify-content: center;
}

.PersonExperience .Experience__Details {
  border: 1px solid rgba(96, 93, 93, 0.29);
  width: 50%;
}

.Experience__Details .Experience__year {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 800;
  text-align: center;
  padding: 0;
}

.Experience__Details p {
  letter-spacing: 1px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

.Experience__Details .vertical-line {
  border: 1px solid rgb(209, 203, 203, 0.29);
  margin: 10px;
  border-bottom: none;
  border-right: none;
  border-top: none;
}

.menu .menu__dotImg {
  width: 45%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.549;
}

.menu .menu__shape1 {
  width: 21px;
  height: 44px;
  left: 35%;
  position: absolute;
}

.menu .menu__shape4 {
  width: 53px;
  height: 45px;
  position: absolute;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .menu--icon + .menu__content {
  display: block;
  max-height: 100%;
}

.menu__content .close-button {
  position: absolute;
  right: 20%;
  margin-top: 7rem;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

/* End Collapsible Menu */

/* End Header */

/* Start Banner Section */

.Banner {
  top: -10px;
}

.hello {
  font-size: 195px;
  letter-spacing: 6px;
  line-height: 130px;
  color: #403d40;
  font-weight: 600;
  margin-top: -93px;
  padding-bottom: 1.8rem;
}

.Banner__pargraph {
  width: 617px;
  height: 102px;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 27px;
  color: #aeadae;
  font-weight: 400;
}

.shape1 {
  position: absolute;
  right: 40%;
  top: 100%;
  width: 36px;
  height: 77px;
}

.BannerWork {
  margin-top: 10rem;
}

.BannerWork {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.box {
  width: 585px;
  height: 585px;
}

.box1 {
  background-color: #baecee;
}

.box2 {
  background-color: #fae1ef;
}

.box2 .shape2 {
  position: absolute;
  top: 5rem;
  right: 4rem;
}

.box3 {
  background-color: #fffce6;
  position: relative;
}

.box3 .shape4 {
  position: absolute;
  margin-top: -28rem;
  left: -12rem;
}

.button-corner {
  position: absolute;
  bottom: 10%;
  right: 20px;
}

.button {
  background-color: transparent;
  color: rgb(6, 6, 6);
  padding: 8px 15px;
  border: none;
  text-decoration: none;
  border: 1px solid black;
}

.box4 {
  background-color: #e9bef6;
  position: relative;
}

.box4 .shpe3 {
  position: absolute;
  top: 48%;
  right: -2.48rem;
}

.box .box-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Start Footer */
.footer-section {
  background-color: #f2fbfb;
  margin-top: -5rem;
}

.footer-section .footer-content {
  margin-top: 6rem;
  text-align: center;
}

.loading {
  font-size: 20px;
  letter-spacing: 20px;
  line-height: 40px;
  color: #403d40;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
}

.footer-img {
  margin-bottom: 2rem;
  width: 3rem;
}

.numbers {
  font-size: 45px;
  letter-spacing: 2px;
  line-height: 40px;
  color: #403d40;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
}

.footer-parag {
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #aeadae;
  font-weight: 300;
  width: 50%;
  text-align: center;
  padding: 2rem;
  margin: auto;
}

.link {
  color: aquamarine;
}

.social {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.social .social-name {
  font-size: 13px;
  letter-spacing: 7px;
  line-height: 40px;
  text-transform: uppercase;
  color: #403d40;
  font-weight: 600;
  width: 20%;
}

/* Media query */
/* Media query for small screens (e.g., mobile devices) */

@media (min-width: 320px) and (max-width: 480px) {
  .logo img {
    margin-top: 2rem;
    padding-right: 0;
    text-align: center;
    width: 100%;
  }

  .header__content .hello {
    margin-top: -6rem;
    font-size: 70px;
    padding-bottom: 0;
  }

  .header__content .Banner__pargraph {
    font-size: 10px;
    width: 100%;
    padding: 0;
  }

  .box2 .shape2 {
    top: 25%;
    right: 1px;
    width: 30%;
  }

  .shape1 {
    right: 0;
    width: 20px;
    height: 42px;
  }

  .box2 .shape2 {
    top: 25%;
    right: 30px;
    width: 20%;
  }

  .BannerWork .box {
    width: 80%;
    height: 50%;
    /* left: 20%;
    background-color: #c62fc6; */
  }

  .BannerWork .box-img {
    width: 100%;
    height: 50%;
  }

  .loading {
    font-size: 1rem;
  }

  .footer-content .numbers {
    font-size: 20px;
  }

  .footer-parag {
    width: 100%;
  }

  .social .social-name {
    padding: 0.5rem;
    font-size: 8px;
    width: 80%;
  }

  .menu__dotImg {
    width: 100%;
  }

  .menu .menu__shape4 {
    width: 30px;
    height: 20px;
    right: 22%;
    top: 8%;
  }

  .menu__person-info .person-img {
    margin-top: 5rem;
    width: 70px;
    height: 70px;
  }

  .menu .shape2 {
    left: 40%;
  }

  .menu .menu__shape1 {
    width: 16px;
    left: 30%;
    top: 8%;
  }

  .menu__person-info .download-container {
    right: 32%;
  }

  .download-container .download-icon {
    padding: 3px;
    font-size: 11px;
    height: 17px;
  }

  .download-container .PersonResum {
    font-size: 6px;
  }

  .menu__person-info .PersonName {
    padding-top: 7px;
    font-size: 13px;
    padding-bottom: 5px;
  }

  .menu__person-info .PersonBrief {
    width: 90%;
    font-size: 9px;
  }

  .PersonSkills .Skill p {
    font-size: 10px;
  }

  .PersonExperience .Experience__Details .Experience__year {
    font-size: 10px;
  }
  .menu__person-info p {
    width: 80%;
  }

  .PersonExperience .Experience__Details p {
    font-size: 6px;
    width: 100%;
    padding-left: 3px;
  }

  .menu .menu__content {
    height: 800%;
  }

  .close-button {
    right: 5%;
  }

  .menu-checkbox {
    display: none;
  }

  .button-corner {
    position: absolute;
    bottom: 10%;
    left: 2px;
  }

  .button-corner .button {
    background-color: transparent;
    color: rgb(6, 6, 6);
    padding: 8px 15px;
    border: none;
    text-decoration: none;
    border: 1px solid black;
    font-size: 10px;
  }
}

/* For smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  header {
    padding-bottom: 2rem;
  }

  header .logo {
    margin-top: 2rem;
    padding-right: 0;
    text-align: center;
    font-size: 10px;
  }

  .menu__content {
    height: 85%;
    top: 0;
  }

  .person-img {
    width: 100px;
    height: 100px;
    margin-top: 6rem;
  }

  .menu p {
    font-size: 0.8rem;
  }

  .menu .menu__shape1 {
    left: 35%;
    top: 10%;
    width: 15px;
    height: 33px;
  }

  .menu__shape4 {
    width: 30px;
    height: 25px;
    top: 12%;
    right: 30%;
  }

  .menu__content .shape2 {
    width: 20px;
    height: 20px;
  }

  .download-container {
    right: 33%;
  }

  .download-icon {
    font-size: 20px;
  }

  .PersonResum {
    font-size: 10px;
  }

  .PersonName {
    font-size: 26px;
    margin-top: 1rem;
  }

  .Skill {
    margin: 0rem 0rem;
    width: 30%;
  }

  .ProgressLine {
    width: 50%;
    margin: auto;
  }

  .Experience__Details {
    padding: 1rem 0rem;
  }

  .Experience__Details .Experience__year {
    font-size: 15px;
  }

  .Experience__Details p {
    width: 80%;
  }

  .hello {
    font-size: 100px;
    margin-top: -60px;
  }

  .Banner__pargraph {
    width: 90%;
    font-size: 12px;
    padding: 1rem;
  }
}

/* For larger screens (e.g., desktops) */
@media (min-width: 769px) {
  .container {
    width: 90%;
  }

  .menu .menu__dotImg {
    width: 45%;
    top: 10%;
    left: 50%;
  }

  .menu__content {
    height: 73%;
    top: 0;
  }

  .person-img {
    width: 130px;
    height: 130px;
    margin-top: 8rem;
  }

  .download-container {
    right: 32%;
  }

  .download-icon {
    font-size: 20px;
  }

  .PersonResum {
    font-size: 10px;
  }

  .menu p {
    width: 60%;
    font-size: 12px;
  }

  .PersonName {
    font-size: 33px;
  }

  .Skill {
    margin: 0rem 0rem;
    width: 30%;
  }

  .ProgressLine {
    width: 50%;
    margin: auto;
  }

  .Experience__Details {
    padding: 1rem 0rem;
    border-bottom: none;
  }

  .Experience__Details .Experience__year {
    font-size: 15px;
  }

  .Experience__Details p {
    width: 100%;
  }

  .hello {
    font-size: 150px;
    margin-top: -93px;
    padding-bottom: 1.8rem;
  }

  .menu .menu__shape1 {
    top: 20%;
    width: 21px;
    height: 44px;
  }

  .menu__shape4 {
    width: 53px;
    height: 45px;
    top: 22%;
    right: 30%;
  }

  .Banner__pargraph {
    width: 617px;
    height: 102px;
    font-size: 13px;
    padding: 20px;
  }

  .shape1 {
    right: 20%;
    top: 85%;
  }

  .box2 .shape2 {
    top: 26%;
    right: 0.5rem;
  }

  .BannerWork {
    padding-left: 5rem;
  }
}

/* lager screen */

@media (min-width: 1000px) {
  .container {
    width: 70%;
  }

  .BannerWork .box {
    width: 50%;
    height: 550px;
  }

  .BannerWork .box .box-img {
    width: 100%;
    height: 80%;
  }

  .menu__content .menu__dotImg {
    width: 35%;
  }

  .menu__content {
    height: 100%;
  }

  .menu__content .download-container {
    right: 34%;
  }

  .download-icon {
    padding-top: 4px;
  }

  .download-container .PersonResum {
    font-size: 14px;
  }

  .PersonSkills {
    width: 100%;
    margin-top: 0px;
  }

  .menu__shape1,
  .shape2 {
    width: 10%;
  }

  .PersonExperience .Experience__Details p {
    width: 100%;
    padding: 0px;
  }
}
