/* Start General */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.container {
  position: relative;
  width: 67%;
  margin: auto;
  /* height: 100vh; */
}
hr {
  border-top: 1px solid rgb(122, 121, 121);
}
/* End General */

/* Start Header */
header {
  padding-bottom: 5rem;
  display: flex;
  position: relative;
}

header .logo {
  margin-top: 7rem;
  padding-right: 2rem;
}
/* Start Collapsible Menu       
*/
.menu {
  position: absolute;
  right: 0;
  margin-top: 7rem;
}

.menu-icon {
  color: black;
  font-size: 1.5rem;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.menu-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  display: none;
  background-color: #201e20;
  z-index: 1000;
}

.person-img {
  width: 180px;
  height: 180px;
  border-radius: 113px;
  background-color: #ffffff;
  margin: auto;
  margin-top: 8rem;
  display: block;
}

.p-img {
  position: relative;
}
.p-img .shape2 {
  width: 72px;
  height: 40px;
  position: absolute;
  left: 43%;
  top: 50%;
}
.download-container {
  position: absolute;
  top: 1rem;
  right: 37%;
  display: flex;
  width: 13%;
}

.download-icon {
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 19px;
  background-color: #d82547;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  margin-right: 5px; 
}

.resum {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 12px;
  color: #ffffff;
  font-weight: 700;
}

.p-name {
  font-size: 43px;
  letter-spacing: 1px;
  line-height: 37px;
  color: #aeadae;
  text-align: center;
  padding: 2rem;
  font-weight: 400;
}
.menu p {
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 22px;
  color: #aeadae;
  width: 50%;
  text-align: center;
  padding-bottom: 2rem;
  margin: auto;
}
.p-skills {
  display: flex;
  justify-content: center;
}

.skills-name {
  margin: 0rem 4rem;
  flex-direction: column;
}
.skills-name p {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 700;
  padding-bottom: 1rem;
}
.proce-line {
  display: flex;
}

.rectp1 {
  width: 297px;
  height: 5px;
  border-radius: 2px;
  background-color: #c62fc6;
}
.rectp2 {
  width: 40px;
  height: 5px;
  border-radius: 2px;
  background-color: #000000;
}
.recti1 {
  width: 297px;
  height: 5px;
  border-radius: 2px;
  background-color: #f2d25d;
}
.recti2 {
  width: 90px;
  height: 5px;
  border-radius: 2px;
  background-color: #000000;
}
.recth1 {
  width: 297px;
  height: 5px;
  border-radius: 2px;
  background-color: #2959e1;
}
.recth2 {
  width: 130px;
  height: 5px;
  border-radius: 2px;
  background-color: #000000;
}
.experience {
  display: flex;
  justify-content: center;
  width: 100%;
}
.exp {
  border: 1px solid rgba(96, 93, 93, 0.29);
  padding: 2rem;
  width: 50%;
}
.exp .year {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 800;
  text-align: center;
}
.exp p {
  letter-spacing: 1px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

.vertical-line {
  border: 1px solid rgb(209, 203, 203, 0.29);
  margin: 10px;
  border-bottom: none;
  border-right: none;
  border-top: none;
}
.menu-content .menu-dot {
  width: 35%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.549;
}
.menu-content .shape1 {
  left: 35%;
  width: 21px;
  height: 44px;
}
.menu-content .shape4 {
  width: 53px;
  height: 45px;
  position: absolute;
  top: 22%;
  right: 30%;
}
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .menu-icon + .menu-content {
  display: block;
  max-height: 100%;
}
.close-button {
  position: absolute;
  right: 20%;
  margin-top: 7rem;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

/* End Collapsible Menu       
*/
.header-content .dotted {
  width: 90%;
}

.header-content .text {
  position: absolute;
  left: 0;
  padding: 20px;
  z-index: 1;
}

.hello {
  font-size: 195px;
  letter-spacing: 6px;
  line-height: 130px;
  color: #403d40;
  font-weight: 600;
  margin-top: -93px;
  padding-bottom: 1.8rem;
}
.parg {
  width: 617px;
  height: 102px;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 27px;
  color: #aeadae;
  font-weight: 400;
}
.shape1 {
  position: absolute;
  right: 40%;
  top: 100%;
  width: 36px;
  height: 77px;
}
/* End Header */

.second-section {
  margin-bottom: 10rem;
}
.work {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.box {
  width: 585px;
  height: 585px;
}
.box1 {
  background-color: #baecee;
}
.box2 {
  background-color: #fae1ef;
}
.box2 .shape2 {
  position: absolute;
  top: 5rem;
  right: 4rem;
}
.box3 {
  background-color: #fffce6;
  position: relative;
}
.box3 .shape4 {
  position: absolute;
  margin-top: -28rem;
  left: -12rem;
}
.button-corner {
  position: absolute;
  bottom: 10%;
  right: 20px;
}


.button {
  background-color: transparent;
  color: rgb(6, 6, 6);
  padding: 8px 15px;
  border: none;
  text-decoration: none;
  border: 1px solid black;
  
}
.box4 {
  background-color: #e9bef6;
  position: relative;
}
.box4 .shpe3 {
  position: absolute;
  top: 48%;
  right: -2.48rem;
}
.box-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Start Footer */
.footer-section {
  background-color: #f2fbfb;
  margin-top: -8rem;
}
.footer-content {
  margin-top: 6rem;
  text-align: center;
}

.loading {
  font-size: 20px;
  letter-spacing: 20px;
  line-height: 40px;
  color: #403d40;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding: 4rem;
}
.footer-img {
  margin-bottom: 4rem;
}
.numbers {
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 40px;
  color: #403d40;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
}
.footer-parag {
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #aeadae;
  font-weight: 300;
  width: 50%;
  text-align: center;
  padding: 2rem;
  margin: auto;
}
.link {
  color: aquamarine;
}
.social {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.social .social-name {
  font-size: 13px;
  letter-spacing: 7px;
  line-height: 40px;
  text-transform: uppercase;
  color: #403d40;
  font-weight: 600;
  width: 10%;
}

/* Media query */
/* Media query for small screens (e.g., mobile devices) */

@media (max-width: 616px) and (min-width: 200px) {
  .logo img {
    margin-top: 2rem;
    padding-right: 0;
    text-align: center;
    width: 100%;
  }
  .header-content .hello {
    font-size: 70px;
    padding-bottom: 0;
  }
  .header-content .parg {
    font-size: 10px;
    margin-top: 0;
    padding-top: 0rem;
    width: 100%;
  }
  .box2 .shape2 {
    top: 25%;
    right: 1px;
    width: 30%;
  }
  .shape1 {
    right: 10%;
    width: 10%;
  }
  .work .box {
    width: 80%;
    height: 50%;
  }
  .work .box-img {
    width: 100%;
    height: 50%;
  }
  .footer-content .numbers {
    font-size: 20px;
  }
  .footer-parag {
    width: 100%;
  }
  .social .social-name {
    padding: 0.5rem;
    font-size: 10px;
    width: 100%;
  }
  .menu .shape2 {
    left: 38%;
  }
  .menu .shape4 {
    width: 30px;
    right: 20%;
    top: 8%;
  }
  .menu .menu-content .shape1 {
    width: 16px;
    left: 30%;
    top: 8%;
  }
  .menu-dot {
    width: 50%;
    height: 20%;
  }
  .person-info .person-img {
    margin-top: 3rem;
    width: 70px;
    height: 80px;
  }
  .person-info .download-container {
    right: 28%;
  }
  .download-container .download-icon {
    height: 20px;
    font-size: 1rem;
  }
  .download-container .resum {
    font-size: 8px;
  }

  .person-info .p-name {
    padding-top: 8px;
    font-size: 20px;
  }
  .person-info p {
    width: 80%;
  }

  .experience .exp .year {
    font-size: 12px;
  }
  .experience .exp p {
    font-size: 8px;
    width: 100%;
  }

  .menu .menu-content {
    height: 100%;
  }
  .close-button {
    right: 5%;
  }
  .menu-checkbox {
    display: none;
  }
  .button-corner {
  position: absolute;
  bottom: 10%;
  left: 2px;
}


.button-corner .button {
  background-color: transparent;
  color: rgb(6, 6, 6);
  padding: 8px 15px;
  border: none;
  text-decoration: none;
  border: 1px solid black;
  font-size: 10px;
  
}
}

/* For smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  header {
    padding-bottom: 2rem;
  }

  header .logo {
    margin-top: 2rem;
    padding-right: 0;
    text-align: center;
    font-size: 10px;
  }

  .menu-content {
    height: 85%;
    top: 0;
  }

  .person-img {
    width: 100px;
    height: 100px;
    margin-top: 6rem;
  }

  .menu p {
    font-size: 0.8rem;
  }

  .menu-content .shape1 {
    left: 35%;
    top: 10%;
    width: 15px;
    height: 33px;
  }

  .shape4 {
    width: 30px;
    height: 25px;
    top: 12%;
    right: 30%;
  }
  .menu-content .shape2 {
    width: 20px;
    height: 20px;
  }
  .download-container {
    right: 33%;
  }
  .download-icon {
    font-size: 20px;
  }
  .resum {
    font-size: 10px;
  }
  .p-name {
    font-size: 26px;
    margin-top: 1rem;
  }
  .skills-name {
    margin: 0rem 0rem;
    width: 30%;
  }
  .proce-line {
    width: 50%;
    margin: auto;
  }
  .exp {
    padding: 1rem 0rem;
  }
  .exp .year {
    font-size: 15px;
  }
  .exp p {
    width: 80%;
  }
  .hello {
    font-size: 100px;
    margin-top: -60px;
  }

  .parg {
    width: 90%;
    font-size: 12px;
    padding: 1rem;
  }
}

/* For larger screens (e.g., desktops) */
@media (min-width: 769px) {

  .container {
    width: 90%;
  }

  .menu .menu-dot {
    width: 45%;
    top: 10%;
    left: 50%;
  }

  .menu-content {
    height: 73%;
    top: 0;
  }

  .person-img {
    width: 130px;
    height: 130px;
    margin-top: 8rem;
  }

  .download-container {
    right: 32%;
  }
  .download-icon {
    font-size: 20px;
  }
  .resum {
    font-size: 10px;
  }
  .menu p {
    width: 60%;
    font-size: 12px;
  }

  .p-name {
    font-size: 33px;
  }

  .skills-name {
    margin: 0rem 0rem;
    width: 30%;
  }
  .proce-line {
    width: 50%;
    margin: auto;
  }
  .exp {
    padding: 1rem 0rem;
    border-bottom: none;
  }
  .exp .year {
    font-size: 15px;
  }
  .exp p {
    width: 100%;
  }
  .hello {
    font-size: 150px;
    margin-top: -93px;
    padding-bottom: 1.8rem;
  }
  .menu-content .shape1 {
    top: 20%;
    width: 21px;
    height: 44px;
  }
  .shape4 {
    width: 53px;
    height: 45px;
    top: 22%;
    right: 30%;
  }

  .parg {
    width: 617px;
    height: 102px;
    font-size: 13px;
    padding: 20px;
  }
  .shape1 {
    right: 20%;
    top: 85%;
  }
  .box2 .shape2 {
    top: 26%;
    right: 0.5rem;
  }
  .work {
    padding-left: 5rem;
  }
  
}

/* lager screen */

@media (min-width: 1000px) {
  .container {
    width: 70%;
  }
  .work .box {
    width: 50%;
    height: 550px;
  }
  .work .box .box-img {
    width: 100%;
    height: 80%;
  }
  .menu-content .menu-dot {
    width: 35%;
  }
  .menu-content {
    height: 100%;
  }
  .menu-content .download-container {
    right: 34%;
  }
  .download-container .resum {
    font-size: 14px;
  }
  .p-skills {
    width: 100%;
    margin-top: 0px;
  }
  .person-img {
    width: 100px;
    height: 100px;
    margin-top: 130px;
  }
  .shape1,
  .shape2 {
    width: 10%;
  }
  .experience .exp p {
    width: 100%;
    padding: 0px;
  }
}
